.namedTagList {
  box-shadow: 0.125em 0.125em #eee;
  border-radius: 0.125em;
  position: relative;
  margin: 0.25em;
  border: 1px solid lightgray;
}

.namedTagList > * {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: none;
}

.namedTagList > .id {
  display: none;
}

.namedTagList > .name {
  padding: 0.125em;
  background-color: lightgray;
}

.namedTagList > .tags {
}

.namedTagList > .create {
  padding: 0;
}

.namedTagList > .create:after {
  content: 'create';
  display: block;
  background-color: rgb(214, 238, 214);
  cursor: pointer;
  padding: 0.25em;
  font-size: 1em;
}

.namedTagList > .create:hover:after {
  background-color: lightgreen;
}
